.login-page {
  /* background-color: #4cb944; */
  /* position: fixed; */
  height: 100vh;
  overflow: hidden;
}

.login-form {
  margin-top: 10rem;
  height: 10rem;

  box-sizing: content-box;
  background-color: #000;
  text-align: center;
  width: 33vw;
  padding-bottom: 5px;
  padding-top: 15px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.4);
}

.big-logo-auth {
  margin-left: auto;
  margin-right: auto;
  height: 50vh;
  transition: transform 0.8s ease-in-out;
}

.big-logo-auth:hover {
  height: 50vh;
  transform: scale(1.1) rotate(-10deg);
}

.login-input {
  font-family: "Radley", serif;
  color: white;
}
