.bestlist-container {
  margin-top: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* position: absolute; */
  width: 35rem;
  font-family: "Radley", serif;

}

.sort-button-container {
  width: 30vw;
  position: fixed;
  top: 20vh;
  left: 0;
}

.sort-button-container button {
  display: block;
  width: 8.2rem;
  height: 8.2rem;
  padding-right: 10px;
  color: white;
  background-color: black;
  border: none;
  border-bottom: 1px solid white;
  font-family: "Radley", serif;
  font-size: 1.7rem;
}

.movie-container {
  margin: auto;
  margin-top: 5rem;
}

/* .movie-container .movie-card {
  position: relative;
  vertical-align: middle;
  border-style: none;
} */

.movie-container .movie-card .title {
  /* background-color: rgba(0, 0, 0, 0.5);
  color: white;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 1;
  font-weight: 900;
  font-size: 2rem;
  background-color: black; */
  /* width: 35rem; */
}

.bestlist-movie-card {
  position: relative;
  left: 70%;
  transform: translate(50%);

  justify-content: center;
  
  align-items: flex-start;
  display: flex;
  margin-bottom: 8rem;

}

.bestlist-movie-card img{
  width: 40rem;
  
}

.movie-card-right {
  box-sizing:border-box;
  margin-left: 4rem;
  /* width: 0rem; */
  white-space: nowrap;
  text-align: left;
  
}

.movie-container .movie-card .rate {
  /* background-color: rgba(0, 0, 0, 0.5);
  color: white;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 1;
  font-weight: 900;
  font-size: 2rem;
  background-color: black; */
  /* width: 35rem; */
}

.title {
  background: black;
  color:white;
}

.rate {
  background: black;
  color:white;
     display:inline-block;
border: 5px solid black;
margin-top: -0.5rem;
}